<!DOCTYPE html>
<html>
    <head>
        <title>{{ book.title }}</title>
    </head>
    <body>
        <h1>{{ book.title }}</h1>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Genre:</strong> {{ book.genre }}</p>
        <p><strong>Status:</strong> {{ book.get_status_display }}</p>
        {% if book.rating %}
            <p><strong>Rating:</strong> {{ book.rating }}/5</p>
        {% endif %}

        <a href="{% url 'book-edit' book.id %}">✏️ Edit this book</a><br>
        <a href="{% url 'book-delete' book.id %}">🗑️ Remove this book</a>
        <a href="{% url "book-list" %}">← Back to list</a>
    </body>
</html>